<nav class="navbar">
    <div class="nav-items-container">
        <ul class="nav-list">
            <button class="section-one-home">
                <svg version="1.1" class="home-icon nav-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 50 50" xml:space="preserve">
                    {{!-- <rect width="50" height="50" fill="black"></rect> --}}
                    <path class="icon-path" d="M25,13.137L7.168,27.838c0,0.021-0.005,0.051-0.016,0.093c-0.01,0.041-0.016,0.071-0.016,0.093v14.886
                        c0,0.537,0.197,1.003,0.589,1.396c0.393,0.392,0.858,0.59,1.396,0.59H21.03V32.986h7.94v11.91h11.908
                        c0.537,0,1.003-0.197,1.396-0.59c0.393-0.392,0.59-0.858,0.59-1.396V28.023c0-0.083-0.011-0.145-0.031-0.185L25,13.137z"/>
                    <path class="icon-path" d="M49.655,24.488l-6.791-5.644V6.19c0-0.289-0.093-0.527-0.28-0.713c-0.185-0.186-0.423-0.279-0.713-0.279h-5.954
                        c-0.29,0-0.527,0.093-0.714,0.279c-0.186,0.186-0.279,0.424-0.279,0.713v6.048l-7.567-6.327c-0.661-0.538-1.447-0.806-2.357-0.806
                        c-0.91,0-1.695,0.269-2.357,0.806L0.345,24.488c-0.207,0.165-0.32,0.387-0.341,0.667c-0.021,0.279,0.051,0.523,0.217,0.729
                        l1.923,2.295c0.166,0.186,0.382,0.3,0.651,0.341c0.248,0.021,0.496-0.052,0.745-0.217L25,10.408l21.461,17.895
                        c0.166,0.144,0.382,0.216,0.651,0.216h0.093c0.268-0.041,0.485-0.155,0.651-0.341l1.923-2.295c0.165-0.207,0.238-0.45,0.216-0.73
                        C49.975,24.876,49.861,24.654,49.655,24.488z"/>
                    </svg>
                <li>HOME</li>
            </button>
        </ul>
    </div>
</nav>
<section id="contact">
    <div class="container-lg">
        <div class="content">
            <h1>Contact</h1>
            <p></p>
        </div>
    </div>
    <p>Welcome to {{title}}</p>
</section>

